/*  Estilos CSS  */

/*  Inicializacion  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* Color del fondo de los botones de la barra de navegacion */
.btn-outline:hover {
  background-color: #28a745;
  color: #fff; 
}

.btn-forms {
  background-color: #0f431b;
  color: #fff; 
}

/* Desactivo el subrayado */
.txt-verde {
  color: #28a745 !important;
}

.txt {
  text-decoration: none;
}

/* Activo el subrayado y cambio el color */
.txt-outline:hover {
  color: #28a745 !important;
  text-decoration: underline;
  text-decoration-color: #28a745;
}

/* Ampliar al 100 */
.footer {
  width: 100vw;
}

/* Boton flotante (ir arriba) */
.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}

/* Boton flotante curvatura de las puntas */
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

 /* si se redimensiona el text area */
.txt-area {
  resize: none;
}

 /* Tamaño de la fuente */
.contacto-titulo {
  font-size: 1.85rem;
}